#env_tree .env_req {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
}

#env_tree .env_req > div {
    margin-left: 20px;
    position: relative;
}

#env_tree fieldset {
    padding: 0 0 5px 10px;
}

#env_tree .env_req > a {
    text-decoration: none;
    margin-right: 20px;
}

#env_tree .env_req.req_fulfilled > a {
    color: green;
}

#env_tree .env_req.req_not_fulfilled > a {
    color: red;
}

#env_tree fieldset.req_fulfilled > legend {
    color: green;
}

#env_tree fieldset.req_not_fulfilled > legend {
    color: red;
}

#env_tree .env_req.req_collapsed {
    background-color: #CCC;
}

#env_tree .env_req.req_collapsed a::after {
    content: url('https://api.iconify.design/mdi/chevron-right.svg?color=black');
    vertical-align: middle;
    padding: 0px 20px;
    color: black;
}

#env_tree .env_req > form {
    display: inline;
}

#env_tree .env_req > form input[type="submit"] {
    margin-left: 0;
    width: initial;
}

#env_tree .env_req.req_dead_end:not(.req_collapsed) > a::after {
    content: url('https://api.iconify.design/mdi/close.svg?color=black');
    color: black;
    vertical-align: middle;
    padding: 0px 20px;
}

.req_poped_up > a {
    background-color: #FD08;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}
